*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 800px;
    height: 600px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container .menu-btns{
    /* background-color: salmon; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.menu-btns .menu-type{
    background: transparent;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid tomato;
    outline: 0;
    border-radius: 8px;
    color: black;
    cursor: pointer;
}

.menu-type:hover{
    background-color: tomato;
    color: white;
}

.menu-type.active{
    background-color: tomato;
    color: white;
}
