*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 800px;
    height: 600px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container .menu-btns{
    /* background-color: salmon; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.menu-btns .menu-type{
    background: transparent;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid tomato;
    outline: 0;
    border-radius: 8px;
    color: black;
    cursor: pointer;
}

.menu-type:hover{
    background-color: tomato;
    color: white;
}

.menu-type.active{
    background-color: tomato;
    color: white;
}




.container .item-title{
    /* background-color: aqua; */
    width: 100%;
    position: relative;
}

.item-title .bar{
    height: 5px;
    width: 100%;
    background-color: tomato;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: -10;
    border-radius: 2px;
}

.item-title .type{
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.type .icon{
    font-size: 40px;
}
.type .type-title{
    color: tomato;
    font-size: 30px;
    text-transform: capitalize;
}




.menu-list{
    /* background-color: sandybrown; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
}

.menu-list .menu-panel{
    /* background-color: salmon;  */
    width: 380px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 15px;
    border-radius: 5px;
}